*.log
*log.txt
logs/*
wp-config.php
wp-content/advanced-cache.php
wp-content/w3tc-config
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/banners/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

crawler/database/config.php
crawler/composer.phar
crawler/tmp/*
crawler/vendor/*

bots/*log.txt

newbots/vendor/*

/.htaccess
/license.txt
/readme.html
.data
.env
sitemap*.*
nginx.conf

crawler/tmp/
